@model IEnumerable<CoronaPredictionsAspNetCore.Models.RealCases>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DayOfRealCases)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfRealCases)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RealCasesNo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DayOfRealCases)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfRealCases)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RealCasesNo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RealCaseID"><i class="fas fa-edit"></i> Edit </a> 
                <a asp-action="Details" asp-route-id="@item.RealCaseID"><i class="fas fa-info"></i> Details </a> 
                <a asp-action="Delete" asp-route-id="@item.RealCaseID"><i class="fas fa-trash-alt"></i> Delete </a>
            </td>
        </tr>
}
    </tbody>
</table>
